
body { 
    background-color: #f7cac9; 
    }

.thick-font {
    font-weight: bold;
  }

.normal-size {
    font-size: 14px;
  }
  
.light-size {
    font-size: 28px;
  }
  
.thick-size {
    font-size: 42px;
  }

/* The navigation bar */
.navbar {
    background-color: rgb(10, 37, 156);
    text-align: center;
    color: beige;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

.NavText{
    color:beige;
}